MYSQL_DATABASE=tostinh
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_USER=tostinh
MYSQL_PASSWORD=change-this-db-password
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-this-grafana-password


